.issue-edit-popover {
	font-size: 13px;
}
.issue-edit-popover .btn-sm {
	font-size: 12px;
	margin-top: 3px;
}
.issue-filter {
	margin-top: 35px;
}
.issue-filter a {
	color: #aaa;
	text-shadow: 1px 1px 0 #fff;
}
.issue-filter .active a, .issue-filter a .badge {
	color: #fff;
	text-shadow: none;
}
.new-issue-btn {
	position: absolute;
	right: 0;
	top: 15px;
}
.issue-list-main {
	position: relative;
	margin-top: 20px;
}
.main-offset-constraint {
	margin-left: -16.66666667%;
}
.issue {
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    margin-top: 20px;
    cursor: pointer;
}
.issue a {
	color: #777;
}
.issue-logo {
    float: left;
    width: 42px;
    height: 42px;
    background: url(/style/image/project-logo.png) no-repeat;
    background-size: contain;
    margin-right: 20px;
}
.issue h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
}
.issue p {
    margin-bottom: 0;
    font-size: 13px;
}
.issue-detail {
    margin: 80px auto;
}
.issue-detail .issue-new-form {
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    padding: 40px 30px;
}
.issue-detail .form-group {
    margin-bottom: 30px;
}
.issue-detail .member {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all .2s ease-out;
}
.issue-detail .member img {
    max-width: 100%;
}
.issue-detail .member.selected {
    box-shadow: 3px 3px 7px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.3);
}