.projects {
    margin-top: 40px;
}
.project {
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    margin: 10px;
    cursor: pointer;
    float: left;
    width: 270px;
    height: 80px;
}
.project a {
	color: #777;
    display: block;
    height: 100%;
}
.project-logo {
    float: left;
    width: 42px;
    height: 42px;
    background: url(/style/image/project-logo.png) no-repeat;
    background-size: contain;
    margin-right: 20px;
}
.project h2 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 9px;
}
.project p {
    margin-bottom: 0;
    font-size: 13px;
}
