<div ng-controller="loginController">
	<div class="login-constraint" >
	    <div class="banner"></div>
	    <div class="main">
	    	<form name="loginForm" ng-submit="login()">
	    		<div class="form-group">
	    			<input required class="form-control" type="email" placeholder="Email" ng-model="user.props.email" />
	    		</div>
	    		<div class="form-group">
	    			<input required class="form-control" type="password" placeholder="Password" ng-model="user.props.password" />
	    		</div>
	    		<div class="form-group">
	    			<input type="submit" class="btn-line-green" value="Sign In" />
	    		</div>
	    	</form>
	    </div>
	</div>
</div>